@import './style/index.css';
@import './style/services.css';
@import './style/equipment.css';
@import './style/benefits.css';
@import './style/staff.css';
@import './style/review.css';
@import './style/media.css';