.equipment{
    display: flex;
    align-items: center;
    justify-content: center;
}
.equipment-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.equipment__column2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.equipment > .container{
    padding-top: 120px;
}