*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 1110px;
}